
{% extends 'base.html.twig' %}

{% block title %}
    {{  parent() }}Foro Principal
{% endblock %}

{% block body %}
    <div class="jumbotron-img p-2 mb-2">
        <div class="container">
            <h1 class="display-4">Foro OctoEdu</h1>
        </div>
    </div>
    <table class="table sortable" style="margin-left: 50px; margin-right: 50px">
        <thead>
            <tr>
                <th>Título</th>
                <th>Creador</th>
                <th {% if (pagination.isSorted('Post.createdAt')) %} class="sorted" {% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Creado', ['Post.createdAt']) }}
                </th>
                <th {% if (pagination.isSorted('Post.Score')) %} class="sorted" {% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Votos', ['Post.Score']) }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for post in pagination %}
                    <td><a href="{{ path('app_forum_open', {id:post.id}) }}">{{ post.Title }}</a></td>
                    <td> {{ post.createdBy }}</td>
                    <td> {{ post.createdAt|date("d.m. H:i") }}</td>
                    <td>{{ post.Score }}</td>
                        {% if (post.createdBy == app.user.username) %}
                            <form action="{{ path('app_forum_delete', {id:post.id}) }}">
                                <td><button type="submit"  class="btn btn-danger">X</button></td>
                            </form>
                        {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
    <a style="margin-top: 20px; horiz-align: right" class="btn btn-primary" role="button" href="{{ path('app_forum_create') }}"> Crear Post</a>
{% endblock %}